body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
/* Header Styles */
.header {
  display: flex; /* Arrange elements horizontally */
  justify-content: space-between; /* Space elements evenly */
  align-items: center; /* Align elements vertically */
  padding: 1rem 2rem; /* Add padding for spacing */
  background-color: #e00400; /* Light gray background */
}

.logo {
  flex-grow: 0; /* Prevent logo from expanding */
}

.logo img {
  width: 100px; /* Adjust logo width as needed */
  height: auto;
}

.navigation {
  list-style: none; /* Remove default bullet points */
  padding: 0;
  margin: 0;
}

.navigation li {
  display: inline-block; /* Display list items side-by-side */
  margin-right: 1rem; /* Add space between list items */
}

.navigation a {
  text-decoration: none; /* Remove underline from links */
  color: white; /* Dark gray text color */
}
  
  
  main {
    padding: 20px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
  }
  
  figure {
    margin: 10px auto;
    display: block;
    text-align: center;
  }
  
  img {
    width: 854px;
    height: 480px;
  }
  
  figcaption {
    font-style: italic;
    font-size: 0.8em;
    margin-top: 5px;
  }
  
  p {
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
 /* Footer Styles */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #e00400; /* Light gray background */
}
.footer p {
  color :white;
}
.footer-navigation a {
  text-decoration: none;
  color: white;
  list-style: none;
}

/* Add styles to the list items (li) */
.footer-navigation li {
  display: inline-block; /* Display list items side-by-side */
  margin-right: 1rem;  /* Add margin for spacing between list items */
}
