<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="/css/about.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="/">
          <img src="/img/logo.png" alt="My Website Logo" />
        </a>
      </div>
      <nav class="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/article">Articles</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>About Us</h1>
      <p>
        Full Throttle Sundays is your one-stop shop for all things Formula 1!
        We're a community of racing fanatics dedicated to bringing you the
        hottest news, insightful analysis, and the electrifying spirit of F1
        every single race day (and maybe even some Mondays!). Whether you're a
        die-hard tifosi (fan) or just discovering the world of high-octane
        competition, we welcome you with open arms (and maybe a celebratory
        shoey!).
      </p>
      <p>
        Join us as we dissect driver strategies, analyze pit stop dramas, and
        celebrate (or commiserate with) the champions. Get ready to experience
        the roar of the engines, the strategic battles on the track, and the
        pure adrenaline rush that is Formula 1. Buckle up, hit the gas, and get
        ready for a full-throttle ride with Full Throttle Sundays!
      </p>
    </main>
    <footer class="footer">
      <p>&copy; 2024 My Website</p>
      <nav class="footer-navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/About-us">About Us</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/Privacy-policy">Privacy Policy</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
