<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Page</title>
    <link rel="stylesheet" href="/css/article.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="/">
          <img src="/img/logo.png" alt="My Website Logo" />
        </a>
      </div>
      <nav class="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/article">Articles</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="container">
        <div class="square">
          <img src="/img/f1gridclass.webP" alt="f1 grid" class="mask" />
          <div class="h1">F1 2024 Grid</div>
          <p>What will the 2024 grid will look like ? lets drive into it.</p>
          <div>
            <a href="/2024-F1-Grid"  class="button">Read More</a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="square">
          <img src="/img/ASS1.webP" alt="hass car" class="mask" />
          <div class="h1">2024 livery standing</div>
          <p>My standing for the 2024 car livery , from the best to worst.</p>
          <div>
            <a href="/livery-standing" class="button">Read More</a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="square">
          <img src="/img/lewisinred.webP" alt="lewis with Ferrari kit" class="mask" />
          <div class="h1">Lewis Hamilton to Ferrari</div>
          <p>
            The biggest news for this this season drop before the first race ?
            Lewis Hamilton will drive for the scuderia Ferrari in 2025.
          </p>
          <div>
            <a href="/Lewis-in-red"  class="button">Read More</a>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <p>&copy; 2024 My Website</p>
      <nav class="footer-navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/About-us">About Us</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/Privacy-policy">Privacy Policy</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
