<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Full Throttle Sundays</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="/">
          <img src="/img/logo.png" alt="My Website Logo" />
        </a>
      </div>
      <nav class="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/article">Articles</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="articles">
        <h2>Latest Articles</h2>
        <a href="/2024-F1-Grid" class="art">
          <h3>F1 2024 Grid</h3>
          <p>Get ready for F1 2024! We break down the starting lineup and analyze each team's strengths and weaknesses..</p>
        </a>
        <a href="/livery-standing" class="art">
          <h3>2024 Livery Standing</h3>
          <p>F1 heats up with the 2024 livery standings! We rank the grid's hottest paint jobs. Who takes the checkered flag for best design?</p>
        </a>
        <a href="/Lewis-in-red" class="art">
          <h3>Lewis Hamilton to Ferrari</h3>
          <p>F1 bombshell! Lewis Hamilton makes a shocking move to Ferrari.  Is this a dream team in the making, or a risky gamble? </p>
        </a>
      </section>

      <section class="standings">
        <h2>2024 Formula One Driver Standings</h2>
        <table>
          <thead>
            <tr>
              <th>Driver</th>
              <th>Team</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Max Verstapenn</td>
              <td>RED BULL</td>
              <td>26</td>
            </tr>
            <tr>
              <td>Sergio Perez</td>
              <td>RED BULL</td>
              <td>18</td>
            </tr>
            <tr>
              <td>Carlos Sainz</td>
              <td>FERRARI</td>
              <td>15</td>
            </tr>
            <tr>
              <td>Charles Leclerc</td>
              <td>FERRARI</td>
              <td>12</td>
            </tr>
            <tr>
              <td>George Russell</td>
              <td>MERCEDES</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Lando Norris</td>
              <td>MCLAREN</td>
              <td>8</td>
            </tr>
            <tr>
              <td>Lewis Hamilton</td>
              <td>MERCEDES</td>
              <td>6</td>
            </tr>
            <tr>
              <td>Oscar Piastri</td>
              <td>MCLAREN</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Fernando Alonso</td>
              <td>ASTON MARTIN</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Lance Stroll</td>
              <td>ASTON MARTIN</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Guanyu Zhou</td>
              <td>STAKE SAUBER</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Kevin Magnussen</td>
              <td>HAAS</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Daniel Ricciardo</td>
              <td>RB VCA</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Yuki Tsunoda</td>
              <td>RB VCA</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Alexander Albon</td>
              <td>WILLIAMS</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Nico Hulkenberg</td>
              <td>HAAS</td>
              <td>0</td>
            </tr>

            <tr>
              <td>Esteban Ocon</td>
              <td>ALPINE</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Pierre Gasly</td>
              <td>ALPINE</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Valtteri Bottas</td>
              <td>STAKE SAUBER</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Logan Sargeant</td>
              <td>WILLIAMS</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
    <footer class="footer">
      <p>&copy; 2024 My Website</p>
      <nav class="footer-navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/About-us">About Us</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/Privacy-policy">Privacy Policy</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
